.custom-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border: none;
}

.custom-header {
  background: #9fd3c7;
  border-bottom: none;
  backdrop-filter: blur(10px);
}

.custom-card h4,
.custom-card h1,
.custom-card li {
  color: #333;
}

.custom-card .card-body {
  padding: 2rem;
}

.custom-card .pricing-card-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.custom-card .list-unstyled li {
  margin-bottom: 0.5rem;
}

.custom-card .card-body ul {
  padding-left: 0;
}

body {
  background-color: rgba(128, 128, 128, 0.773);
}
